.icolumn{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
h2{
    font-size: 20px;
}
.paymentBody{
    width: 90%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: columns;
    justify-content: center;
    align-items: center;
}
h2{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.paymentFeature{
    width: 50%;
    height: 50%;
    margin: 5% 10% 10% 10%;
    border: solid 2px black;
    padding: 2%;
    display: flex;
    flex-direction: column;

}
.checkoutNavBtns{
    /* padding: 1%;
    margin: 3%; */
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .paymentBody{
      flex-direction: column;
      justify-content: center;
    }
  }