:root {
    --primary: #ffffff;
}

.btn--primary {
    background-color: var(--primary);
    color: rgb(0, 0, 0);
}

.btn--outline {
    background-color: #9fc6d8;
    color: #ffffff;
    padding: 15px 15px;
    transition: all 0.3s ease-out;
    border: none;
    margin: 10px;
}

.btn--medium {
    font-size: 20px;
    font-weight: 400;
    border-radius: 20px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 50px;
    font-weight: bolder;
    border-radius: 20px;
}

.btn--medium:hover, .btn--large:hover {
    background-color: #484848;
    color: #ffffff;
    transition: all 0.5s ease-out;
}
