.productDetailsContainer {
    margin-top: 30px;
  }
  
  .singleProduct {
    margin-top: 80px;
    padding-top: 70px;
  }
  
  .mainProductImg {
    height: 400px;
    width: 400px;
  }
  
  .col2 img {
    padding: 0;
  }
  
  .col2 {
    padding: 0;
  }
  
  .singleProductH4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
  }
  
  .select {
    display: block;
    padding: 10px;
    margin-top: 20px;
  }
  
  .input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 0;
    border: 1px solid #9fc6d8;
  }
  
  .input:focus {
    outline: none;
  }
  
  .fa {
    color: #9fc6d8;
    margin-left: 5px;
  }
  
  .smallImgRow {
    display: flex;
    justify-content: space-between;
  }
  
  .smallImgCol {
    flex-basis: 24%;
    cursor: pointer;
    padding: 10px 0;
  }
  
  .imgCol {
    display: flex;
    flex-wrap: wrap;
  }
  
  .smallImgCol img {
    width: 100px;
    height: 100px;
  }
  
  .smallContainer {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .proDetailsCol2 {
    flex-basis: 50%;
    min-width: 300px;
    position: relative;
    bottom: 100px;
    display: flex;
    flex-direction: column;
  }

  .proDetailsCol2 h4 {
    font-size: 2rem;
  };

  .frog {
    color: blue;
  }

  .addToCartBtn button{
    padding: 15px;
    background: #9fc6d8;
    color: #fff;
    font-size: 18px;
    border: 0; 
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
  }
  
  .addbtn {
    margin-top: 30px;
    height: 30px;
  }
  
  .prodetails {
    display: flex;
    margin-top: 20px;
  }
  